$gap: 1rem;
$spacing: 2rem;
$fontsize-default: 1.6rem;
$border-radius: 2rem;

//color
$main-bg-color: #ede9ff;
$nav-bg-color: #026aa7;
$white-color: #fff;
$black-color: #333;
$sub-bg-color: #3487b8;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-mobile: 480px;
