@import "../_settings.scss";

.wrapper {
  height: 100vh;
  background: linear-gradient(to right, #8b4ce9, #c445a0);
}
.nav {
  padding: 0 $spacing;
}
.board {
  padding: 0 $spacing;
}
.content {
  padding: 0 $spacing;
}
